# Set prefix key to Ctrl-b
set-option -g prefix C-b

# set scrollback history limit (default 2000)
set -g history-limit 10000

# Set escape time to 0 or 10ms for faster key response (default 500ms)
# Use 'set -sg' for server-global setting
set -sg escape-time 10

# Start window numbering at 1 (default is 0)
set -g base-index 1

# Start pane numbering at 1 (default is 0)
# Use 'setw -g' for global window option
setw -g pane-base-index 1

# Renumber windows automatically when a window is closed
set -g renumber-windows on # Optional, some like this

# Split panes using v and s (same as vim)
bind v split-window -h
bind s split-window -v
unbind '"'
unbind %

# Make pane resizing repeatable by holding down the key
# -r allows repeating the command by holding the key
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# enable mouse support
set -g mouse on

# set default term
set -g default-terminal "tmux-256color"

# enable focus events
set -g focus-events on

# enable vi mode in copy
setw -g mode-keys vi

# reload tmux.conf
bind r source-file ~/.tmux.conf \; display-message "Config reloaded"

# save restore nvim sessions
set -g @resurrect-strategy-nvim 'session'

# tmux continuum options
set -g @continuum-restore 'on'
# will auto restart kitty on comp restart
set -g @continuum-boot-options 'kitty'

# set tmux plugin install path
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ .chezmoi.homeDir }}/.config/tmux/plugins/'

# List of other plugins
set -g @plugin 'tmux-plugins/tpm'

# theme
set -g @catppuccin_reset "true"
run '{{ .chezmoi.homeDir }}/plugins/catppuccin/tmux/catppuccin.tmux'
set -g @plugin 'erikw/tmux-dark-notify'
set -g @dark-notify-theme-path-light '{{ .chezmoi.homeDir }}/.config/tmux/plugins/catppuccin/tmux/themes/catpuccin_set_latte.conf'
set -g @dark-notify-theme-path-dark '{{ .chezmoi.homeDir }}/.config/tmux/plugins/catppuccin/tmux/themes/catpuccin_set_mocha.conf'

set -g @plugin 'schasse/tmux-jump'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-yank'
set -g @plugin 'tmux-plugins/tmux-sidebar'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '{{  .chezmoi.homeDir }}/.config/tmux/plugins/tpm/tpm'
