# This is Git's per-user configuration file.
[user]
	name = Clay Coffman
	email = {{ .email }}
{{- if not (has (output "hostname" "-s" | trim) .remoteHosts) }}
	signingkey = {{ index .ssh_signing_keys .role }}
{{- end }}
[init]
	defaultBranch = main
{{ if not (has (output "hostname" "-s" | trim) .remoteHosts) -}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else }}/opt/1Password/op-ssh-sign{{ end }}
[commit]
	gpgsign = true
{{ end -}}
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
{{ if eq .role "work" -}}
[url "https://github.com/"]
	insteadOf = git@github.com:
[includeIf "gitdir:~/Dev/carepilot/repos/"]
	path = ~/.gitconfig.carepilot
{{- end }}
