Host *
	IdentityAgent ~/.1password/agent.sock

# osu engr servers
Host osu
	HostName access.engr.oregonstate.edu
	User coffmacl
	ForwardAgent yes
	ServerAliveInterval 60
	ServerAliveCountMax 3

# hetzner
Host hetzner
	HostName 5.78.113.1
	User root
	ForwardAgent yes
	ServerAliveInterval 60
	ServerAliveCountMax 3
{{ if has (output "hostname" "-s" | trim) .remoteHosts }}
Host github-personal-site
	HostName github.com
	User git
	IdentityFile /root/.ssh/personal_site_deploy
	IdentitiesOnly yes
{{- end }}
