{
  "permissions": {
    "defaultMode": "auto"
  },
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "effortLevel": "xhigh",
  "theme": "auto",
  "skipAutoPermissionPrompt": true
}
