[Desktop Entry]
Type=Application
Name=Ghostty
Exec=/usr/bin/ghostty --gtk-single-instance=true -e tmux new-session -A -s main
Icon=com.mitchellh.ghostty
